/* Parallax Background Car Rental */
.parallax-rental {
  background-image: url("../images/HeroSection.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Parallax Background Interested Renting Car */
.parallax-interested-renting-car {
  background-image: url("../images/HeroSection.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
